.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px solid #222;
  margin-top: auto;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.2s;
}

.footer a:hover {
  color: #ffcc00;
}
