
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  color: #fff;
  line-height: 1.5;

  background-image: url("/background.jpg");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


h1, h2, h3, h4 {
  color: #ffcc00; 
  margin-bottom: 15px;
  text-align: center;
}

button {
  background-color: #222;
  color: #fff;
  border: 2px solid #ffcc00;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #ffcc00;
  color: #111;
  transform: scale(1.05);
}

button.active {
  background-color: #ffcc00;
  color: #111;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

